<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IApplicationServer">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ApplicationServer/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApplicationServer" contract="ServiceReference1.IApplicationServer" name="WSHttpBinding_IApplicationServer">
                <identity>
                    <dns value="dws01"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
