<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="C:\QuizStaffLog\" />
      <datePattern value="dd_MM_yyyy'.log'" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="Lang" value="en-US" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IApplicationServer" closeTimeout="00:25:00"
          openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:25:00"
          maxReceivedMessageSize="1000000000" />
        <binding name="WSHttpBinding_IApplicationServer1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dws01:8733/ApplicationServer/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IApplicationServer" contract="ServiceReference.IApplicationServer"
        name="WSHttpBinding_IQBService">
        <identity>
          <userPrincipalName value="Administrator@bullfrogspas.local" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/ApplicationServer/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApplicationServer1"
        contract="ServiceReference1.IApplicationServer" name="WSHttpBinding_IApplicationServer">
        <identity>
          <dns value="dws01" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>