<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IsdDataWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="IsdDataWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://iepe100.isd.dp.ua/isddata/IsdDataWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="IsdDataWebServiceSoap"
                contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap" />
            <endpoint address="http://iepe100.isd.dp.ua/isddata/IsdDataWebService.asmx"
                binding="customBinding" bindingConfiguration="IsdDataWebServiceSoap12"
                contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>