<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
  
    <client>
      <!--<endpoint address="http://iepe100.isd.dp.ua/isddata/IsdDataWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IsdDataWebServiceSoap"
        contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap" />-->
      <endpoint address="http://iepe100.isd.dp.ua/isddata/IsdDataWebService.asmx"
        binding="customBinding" bindingConfiguration="IsdDataWebServiceSoap12"
        contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap12" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="IsdDataWebServiceSoap"
                 maxBufferPoolSize="2147483647" 
                 maxReceivedMessageSize="214748364700" 
                 maxBufferSize="2147483647"
      closeTimeout="00:15:00" openTimeout="00:01:00"
              receiveTimeout="00:15:00" sendTimeout="00:15:00"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="IsdDataWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2147483647" 
                         maxReceivedMessageSize="214748364700" 
                         maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="TransportSecurity" maxBufferPoolSize="2147483647" 
                         maxReceivedMessageSize="214748364700" >
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="ApplicationServer.ApplicationServer">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ApplicationServer/"   />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8733/ApplicationServer/" binding="wsHttpBinding" contract="ApplicationServer.IApplicationServer">
          <identity>
            <dns value="dws01"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>